html, body #root {
  height: 100vh
}

.app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column;
  font-size: 20px;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}